@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* bg colors */
  --primario: #050505;
  --secundario: #272d37;

  /* Text colors */
  --text-green: #115e59;
  --text-white: #f3f4f6;

    /* Decoration */
    --text-1: #200122;
    --text-2: #6f0000;
    --text-3: #11998e;
    --text-4: #38ef7d;
    --text-5: #24FE41;
    --text-6: #D3CCE3;

}
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
 background-image: url(./materiales/—Pngtree—futuristic\ shape\ abstract\ background\ chemistry_1250295.jpg);
 /*background-color: var(--primario);*/
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Header */
#principal-header {
  background-color: var(--primario);
  background-color: var(--secondary);
  background-image: linear-gradient(
    to bottom,
    var(--primario),
    var(--secundario)
  );
  display: flex;
  align-items: center;
  height: 7vh;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  gap: 1rem;
}
#principal-header picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

#principal-header picture img {
  height: 100%;
  object-fit: cover;
}

#principal-header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  gap: 1rem;
}

#principal-header nav a {
  text-decoration: none;
  background-image: linear-gradient(to top, var(--text-3), var(--text-4));
  background-clip: text;
  color: transparent;
}

#principal-header form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

#principal-header form button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
}

#principal-header form button img {
  height: 100%;
  object-fit: cover;
}

/*main*/
main {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

#contenido {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--text-white);
  width: 50%;
}

#contenido h1 {
  background-image: linear-gradient(to top, var(--text-1), var(--text-2));
  background-clip: text;
  color: transparent;
  text-align: left;
  font-size: 2.5rem;
}

#contenido a {
  background-color: var(--primario);
  color: var(--text-white);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
}

#carta1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--secundario);
  border-radius: 1rem;
}

#carta1 header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* info*/

#info {
  display: flex;
  flex-direction:column;
  gap: 1rem;
  padding: 2rem 0;
  align-items: center
  
}

#info h2 {
  text-align: center;
  font-size: 2.5rem;
  background-image: linear-gradient(to top, var(--text-6), var(--text-5));
  background-clip: text;
  color: transparent;
}

#info ul {
  list-style: none;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  padding: 4rem 0;
  gap: 1rem;
  max-width: 50vw;
  
}

#info ul li {
  flex: 1;
  background-color: var(--secundario);
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

#info ul li picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

#info ul li picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#info ul li h3 {
  font-weight: 700;
  color: var(--text-white);
  text-align: center;
}

#info ul li p {
  font-weight: 300;
  color: var(--text-gray);
  text-align: center;
}


/*contacto*/

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:var(--secundario);
  border-radius: 5rem;
}

.contact-info {
  flex: 1;
  padding: 20px;
  color:var(--text-white)
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color:var(--text-white);
}

.location {
  margin-bottom: 20px;
  
}

.location h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.location p {
  margin: 5px 0;

}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-icons a img {
  width: 24px;
  height: 24px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 200px;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}


/*footer*/

footer {
  width: 100%;
  background-color: var(--secundario);
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 2rem 1rem;
}

footer nav {
  display: flex;
  gap: 1rem;
}

footer nav a {
  text-decoration: none;
  color: var(--text-white);
  font-weight: 300;
  font-size: 1rem;
}
