@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* bg colors */
  --primario:#050505 ;
  
  /* Text colors */
  --text-gray:#115e59;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background-image:url(./materiales/—Pngtree—futuristic\ shape\ abstract\ background\ chemistry_1250295.jpg);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Header */
#principal-header {
  background-color: var(--primario);
  display: flex;
  align-items: center;
  height: 7vh;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  gap: 1rem;
}
#principal-header picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  
}

#principal-header picture img {
  height: 100%;
  object-fit: cover;
 
}

#principal-header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    gap: 1rem;
}

#principal-header nav a {
    color: var(--text-gray);
    text-decoration: none;
}
